:root {
    --background: #ffffff;
    --color1: #2c2a2b;
    --color2: #666666;
    --color-text: #000000;
    --color-text-contrast: var(--background)
}

.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.color-text {
    color: var(--color-text);
}

.color-text-contrast {
    color: var(--color-text-contrast);
}