$base-font-size: 19px;
$title-margin: 10px;

.text {
    font-size: $base-font-size;
}

.mat-small {
    font-size: 17px;
}

.mat-h1 {
    font-size: 38px;
    margin-bottom: $title-margin;
}

.mat-h2 {
    font-size: 29px;
    margin-bottom: $title-margin;
}

.mat-h3 {
    font-size: 22px;
    margin-bottom: $title-margin;
}