.text {
    color: var(--color-text);
}

.text-contrast {
    color: var(--color-text-contrast);
}

.mat-small {
    font-size: 17px;
}

.mat-h1 {
    font-size: 35px;
}

.mat-h2 {
    font-size: 26px;
}

.mat-h3 {
    font-size: 20px;
}