<app-toolbar (itemSelected)="scrollIntoSection($event)"></app-toolbar>

<div class="container">

  <!--div class=" mat-h3 color2 title"> Dott. Alessandro Macchi</div-->

  <section id="about-section">

    <div class="mat-h2 color2"> Chi sono</div>
    <div class="row">
      <div class="col-lg-4">
        <img src="assets/images/profile-picture.jpg" height="290">
      </div>

      <div class="col-lg-8">
        <!--div class="mat-h2 color2"> Chi sono</div-->
        <div class="text">
          Laureato in Psicologia del ciclo di vita e contesti presso l’Università degli studi di Firenze.
          Psicologo iscritto all’albo dell’Ordine degli Psicologi della Toscana al numero 9663.
          Sto proseguendo la formazione per ottenere il titolo di psicoterapeuta presso la Scuola Bolognese di
          psicoterapia
          a indirizzo cognitivo-costruttivista.
          Mi occupo di sostegno psicologico a minori e adulti, supporto alla genitorialità e valutazione delle
          competenze
          genitoriali presso la SdS Valdinievole.
          Svolgo la libera professione presso lo studio Percorsi di Pontedera (PI) dove mi occupo di adolescenti e
          adulti.
        </div>
      </div>
    </div>

  </section>

  <hr>

  <section id="target-section">

    <div class="mat-h2 color2"> Mi occupo di </div>

    <div class="row target">

      <div class="col-lg-4">
        <div class="flex-centered">
          <img src="assets/images/target/adults.jpg" height="200">
        </div>
        <div class="mat-h2 color2 flex-centered"> Adulti </div>
        <div class="text">
          Attraverso il colloquio clinico accompagno la persona ad una maggiore consapevolezza dei propri schemi
          mentali, del significato personale che ricopre il disturbo psicologico (disturbi d’ansia, disturbi depressivi,
          disturbi da sintomi somatici, disturbi correlati ad eventi traumatici) o di passaggi di vita significativi
          (lutto, separazioni, eventi inaspettati), tutto questo tramite la ricostruzione della storia narrativa della
          persona.
        </div>
      </div>
      <div class="col-lg-4">
        <div class="flex-centered">
          <img src="assets/images/target/teenager.jpg" height="200">
        </div>
        <div class="mat-h2 color2 flex-centered"> Adolescenti </div>
        <div class="text">
          L’età adolescenziale è il periodo più critico nell’arco dello sviluppo, spesso caratterizzato da disagio e
          malessere nei ragazzi. La ricerca di un’immagine di sé è preponderante, e questo può portare difficoltà
          emotive che possono manifestarsi attraverso disturbi (fobia sociale, depressione, ansia, dipendenza dai
          social, disturbi alimentari), che possono privare il ragazzo/a a sviluppare le risorse interne necessarie ad
          affrontare la vita adulta.
        </div>
      </div>
      <div class="col-lg-4">
        <div class="flex-centered">
          <img src="assets/images/target/parents.jpg" height="200">
        </div>
        <div class="mat-h2 color2 flex-centered"> Genitorialità </div>
        <div class="text">
          La genitorialità è un tema che negli ultimi anni è sempre più sotto la lente di osservazione, spesso si
          sottovalutano le implicazioni dell’essere genitore , in più i cambiamenti dovuti all’età moderna hanno portato
          a una ridefinizione dei ruoli all’interno della famiglia; attraverso il colloquio si cerca di sviluppare e
          potenziare nel/la genitore/genitrice il riconoscimento dei bisogni emotivi dei propri figli, a promuovere e
          incrementare le loro abilità sociali, cercando di modificare i comportamenti disfunzionali.
        </div>
      </div>

    </div>

  </section>

  <hr>

  <section id="orientation-section">
    <div class="mat-h2 color2"> Orientamento </div>

    <div class="row">
      <div class="col-lg-4">
        <img src="assets/images/orientation.jpg" height="250">
      </div>
      <div class="col-lg-8 text">
        <!--div class="mat-h2 color2"> Orientamento </div-->
        Il modello di riferimento è la psicoterapia cognitiva, in particolare la svolta costruttivista ed evolutiva
        intrapresa da Vittorio Guidano e Gianni Liotti. Ogni essere umano è dotato di una propria mappa del mondo
        attraverso la quale dà forma, interpreta e dà senso alla propria realtà. Il proprio Sé prende forma entro i
        legami primari dell’attaccamento sotto forma di schemi che servono a mantenere lo stato di relazione con le
        figure affettivamente significative presenti nel nostro ambiente. Il percorso terapeutico è quindi mirato al
        raggiungimento di una maggiore consapevolezza dei processi di pensiero e delle modalità emotive attraverso cui
        la persona attribuisce significato agli eventi che gli accadono e costruisce così un'immagine di sé stesso e del
        mondo.
      </div>
    </div>

  </section>

</div>

<footer id="contacts-section">
  <div class="container">
    <!--div class="mat-h2"> Contatti </div-->
    <div class="row">

      <div class="col-lg-4 footer-brand-container">
        <div class="footer-brand">
          <img src="assets/images/logo-white.png" height="50">
          <div>Alessandro Macchi</div>
        </div>
      </div>

      <div class="col-lg-4">
        <div>
          <a href="https://www.linkedin.com/in/alessandro-macchi-6aa5271a1/">
            <i class="pointer bi bi-linkedin"></i>
          </a>
        </div>

        <!--div>
          <a href="">
            <i class="pointer bi bi-facebook"></i>
          </a>          
        </div-->
      </div>

      <div class="col-lg-4">
        <div>
          <span class="contacts-detail">
            <a href="tel:3398404156">
              <i class="pointer bi bi-phone"></i>
            </a>
            <span> 3398404156 </span>
          </span>
        </div>

        <div>
          <span class="contacts-detail">
            <a
              href="https://www.google.com/maps/place/Via+Sacco+e+Vanzetti,+9%2FD,+56025+Pontedera+PI/@43.6638163,10.6282107,17z/data=!3m1!4b1!4m5!3m4!1s0x132a75f1a0ebe19d:0x6d241caa0b79767d!8m2!3d43.6638163!4d10.6282107">
              <i class="pointer bi bi-geo-alt"></i>
            </a>
            <span> Via Sacco e Vanzetti 9/D, Pontedera (PI) </span>
          </span>
        </div>

        <div>
          <span class="contacts-detail">
            <a href="mailto:dott.macchialessandro@gmail.com">
              <i class="pointer bi bi-envelope"></i>
            </a>
            <span> dott.macchialessandro@gmail.com </span>
          </span>
        </div>

      </div>

    </div>

  </div>
</footer>

<div class="mat-small flex-centered credits">
  <i class="bi bi-code"></i>
  <span> with </span>
  <i class="bi bi-heart-fill"></i>
  <span>by</span>
  <span>Andrea Della Maggiora</span>
  <a class="credits-contacts" href="https://www.instagram.com/fedrozenzero">
    <i class="bi bi-instagram pointer"></i>
  </a>
</div>